<a href="https://colab.research.google.com/github/hsabaghpour/PySpark_Repo/blob/main/Spark_Data_Frame_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from pyspark.sql import SparkSession

In [16]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [17]:
# import urllib.request

# url = 'https://gist.githubusercontent.com/raine/da15845f332a2fb8937b344504abfbe0/raw/37cb62958ebf41ce931c7236b5453838a1f17d9c/people.json'
# urllib.request.urlretrieve(url, '/tmp/people.json')

In [18]:
df = spark.read.json('people.json')
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [20]:
df.columns

['age', 'name']

In [21]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [22]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [23]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [26]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [27]:
final_struc = StructType(fields=data_schema)

In [28]:
df = spark.read.json('people.json', schema=final_struc)

In [29]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [30]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [33]:
df['age']

Column<'age'>

In [34]:
type(df['age'])

pyspark.sql.column.Column

In [35]:
df.select('age')

DataFrame[age: int]

In [36]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [37]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [38]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [39]:
df.select(['age', 'name'])

DataFrame[age: int, name: string]

In [40]:
df.withColumn('newage', df['age']*2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|NULL|Michael|  NULL|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [41]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [42]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      NULL|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [43]:
# using pure SQL

In [44]:
df.createOrReplaceTempView('people')

In [46]:
results = spark.sql("SELECT * FROM people")

In [47]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [48]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [49]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+